# US Immigration Data Engineering Project
### Data Engineering Capstone Project

#### Project Summary
The purpose of this project is to build data lakes for the Analytics team, so that they can use it further for the data analysis tasks in  fast and efficient manner. Data used in this project come from a variety of sources. Mainly 4 datasets are used which are as follows:
*  I94 Immigration Data
*  World Temperature Data
*  U.S. City Demographic Data
*  Airport Code Data

A detailed project overview can be found in Step 1.

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [3]:
# Do all imports and installs here
import pandas as pd
from pyspark.sql import SparkSession
from datetime import datetime,timedelta
from pyspark.sql.functions import from_unixtime, unix_timestamp, to_date, expr,date_add,udf,col,avg,mean,round
from pyspark.sql.types import StringType, DateType

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included? 

Mainly 4 datasets are used which are as follows:
>  
   *  I94 Immigration Data
   *  World Temperature Data
   *  U.S. City Demographic Data
   *  Airport Code Table

Let's have a detailed look on each dataset:
*  **I94 Immigration Data:** This data comes from the US National Tourism and Trade Office. It contains international visitor arrival statistics by world regions and selected countries, type of visa, mode of transportation, age groups, states visited (first intended address only), and the top ports of entry. Details of the columns like their names and meanings can be seen in the data dictionary included at the end of this document.

*  **World Temperature Data:**  This dataset came from Kaggle. This dataset contains temperature data of US from 1850 to 2013. A detailed data dictionary is provided at the end of this documents.

* **U.S. City Demographic Data:** This data comes from Opensoft. This data comes from the US Census Bureau's 2015 American Community Survey. This dataset contains information about the demographics of all US cities and census-designated places with a population greater or equal to 65,000. A detailed data dictionary is provided at the end of this documents.

* **Airport Code Table:** This is a simple table of airport codes and corresponding cities. The airport codes may refer to either IATA airport code, a three-letter code which is used in passenger reservation, ticketing and baggage-handling systems, or the ICAO airport code which is a four letter code used by ATC systems and for airports that do not have an IATA airport code. 
A detailed data dictionary is provided at the end of this documents.

**Why using data lakes over data warehouse?**
> *The idea here is to use these raw data files to build refined data lakes tables. The benefit of data lakes over data ware house is that it has more flexibility in terms of data availability, storage and data management. In the data lakes provides the data in more manageable way, at the same time it does not modify the raw data too much, by having this it allows the analaytics team more flexilbility and they can mold the data as per their requirement.*  

**How end solution look like?**
> *So final product is a cloud based data lake having following tables:*

**What tool do I use?**
> *I used following tools in this project:*
  * Apache Spark
  * Pyspark

#### 1. Importing Immigration dataset:
*Immigration dataset if quite large in size so its better to use **Apache Spark** to read the files in this case.*

In [4]:
# Creating Spark Session
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

In [5]:
# Checking spark version for compatibility issue
print("Spark Version is :: {}".format(spark.version))

Spark Version is :: 2.4.3

In [26]:
%%time
# Loading immigration dataset
# First loading Jun'16 file (different number of columns )
df_immig_merged =spark.read.format('com.github.saurfang.sas.spark').option("inferSchema", "true").option("dateFormat", "yyyyMMdd").\
    load('../../data/18-83510-I94-Data-2016/i94_jun16_sub.sas7bdat')
df_immig_merged=df_immig_merged.drop('validres','delete_days','delete_mexl','delete_dup','delete_recdup','delete_visa')
# Adding rest files of the year
files=['i94_jan16_sub','i94_feb16_sub','i94_mar16_sub','i94_apr16_sub','i94_may16_sub','i94_jul16_sub','i94_aug16_sub',\
      'i94_sep16_sub','i94_oct16_sub','i94_nov16_sub','i94_dec16_sub']
for file in files:
    path='../../data/18-83510-I94-Data-2016/{}.{}'.format(file,'sas7bdat')
    #print(path)
    df_immig =spark.read.format('com.github.saurfang.sas.spark').option("inferSchema", "true").option("dateFormat", "yyyyMMdd").\
    load(path)
    df_immig_merged = df_immig_merged.union(df_immig)

CPU times: user 21.6 ms, sys: 3.52 ms, total: 25.1 ms
Wall time: 899 ms

In [30]:
# Inspecting a few records
df_immig_merged.take(1)

[Row(cicid=4.0, i94yr=2016.0, i94mon=6.0, i94cit=135.0, i94res=135.0, i94port='XXX', arrdate=20612.0, i94mode=None, i94addr=None, depdate=None, i94bir=59.0, i94visa=2.0, count=1.0, dtadfile=None, visapost=None, occup=None, entdepa='Z', entdepd=None, entdepu='U', matflag=None, biryear=1957.0, dtaddto='10032016', gender=None, insnum=None, airline=None, admnum=14938462027.0, fltno=None, visatype='WT')]

#### 2. Importing world_temperature dataset:
*World temperature dataset if quite large in size so its better to use **Apache Spark** to read the files in this case.*

In [308]:
%%time
df_temp=spark.read.format('csv').option('header','True').\
load('../../data2/GlobalLandTemperaturesByCity.csv')

CPU times: user 1.58 ms, sys: 293 µs, total: 1.87 ms
Wall time: 250 ms

In [346]:
df_temp.show(1)

+----------+------------------+-----------------------------+-----+-------+--------+---------+
|        dt|AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|             6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
only showing top 1 row

#### 3. Importing airport_code dataset:

In [252]:
%%time
df_port=spark.read.format('csv').option('header','True').load('airport-codes_csv.csv')

CPU times: user 1.89 ms, sys: 44 µs, total: 1.93 ms
Wall time: 250 ms

In [348]:
df_port.take(1)

[Row(ident='00A', type='heliport', name='Total Rf Heliport', elevation_ft='11', continent='NA', iso_country='US', iso_region='US-PA', municipality='Bensalem', gps_code='00A', iata_code=None, local_code='00A', coordinates='-74.93360137939453, 40.07080078125')]

#### 4. Importing us_cities_demographics dataset:
*us_cities_demographics dataset is not that much large in size its better to use **Pandas** to read the files in this case.*

In [309]:
# Read in the data here
df_demog=spark.read.format('csv').option('header','True').option('delimiter',';').\
load('us-cities-demographics.csv')

In [310]:
df_demog.show(2)

+-------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+------------------+-----+
|         City|        State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|              Race|Count|
+-------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+------------------+-----+
|Silver Spring|     Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|Hispanic or Latino|25924|
|       Quincy|Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|             White|58723|
+-------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+------------------+-----+
only showing top 2 rows

### Step 2: Explore and Assess the Data

### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### 1. Exploring Immigration dataset:

In [29]:
# Checking for missing values
print("Number of Columns: {}".format(len(df_immig_merged.columns)))
print("Number of Rows: {}".format(df_immig_merged.count()))

Number of Columns: 28
Number of Rows: 40790529

In [258]:
# Drop duplicates value
#df_immig=df_immig.dropDuplicates()

In [259]:
# Number of rows after removing duplicates
# print("Number of Rows: {}".format(df_immig.count()))

Number of Rows: 3096313

In [260]:
# Describe
#df_immig.describe().show()

In [261]:
df_immig_merged.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

#### 2. Exploring world_temperature dataset:

In [262]:
#Shape of the Dataset
print("Number of Columns: {}".format(len(df_temp.columns)))
print("Number of Rows: {}".format(df_temp.count()))

Number of Columns: 7
Number of Rows: 8599212

In [263]:
#Shape of the dataset
df_temp.printSchema()

root
 |-- dt: string (nullable = true)
 |-- AverageTemperature: string (nullable = true)
 |-- AverageTemperatureUncertainty: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

In [264]:
# Checking missing values
# df_temp.describe()

In [265]:
# Drop Duplicates Values
# df_port.drop_duplicates(inplace=True)

#### 3. Exploring airport_code dataset:

In [266]:
# Shape of the dataset
# df_port.shape

In [267]:
# Checking missing values
df_port.printSchema()

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

In [268]:
# Drop Duplicates Values
# df_port.drop_duplicates(inplace=True)

#### 4. Exploring us_cities_demographics dataset:

In [269]:
# Shape of the dataset
#df_demog.shape

In [270]:
# Checking for missing values
df_demog.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median Age: string (nullable = true)
 |-- Male Population: string (nullable = true)
 |-- Female Population: string (nullable = true)
 |-- Total Population: string (nullable = true)
 |-- Number of Veterans: string (nullable = true)
 |-- Foreign-born: string (nullable = true)
 |-- Average Household Size: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: string (nullable = true)

In [271]:
# Dropping duplicates
#df_demog.drop_duplicates(inplace=True)

#### Cleaning Steps
Document steps necessary to clean the data

#### 1. Cleaning Immigration dataset:

In [31]:
#Cleaning of Immigration dataset
df_immig_merged=df_immig_merged.withColumn("cicid", df_immig_merged["cicid"].cast('integer'))
df_immig_merged=df_immig_merged.withColumn("i94yr", df_immig_merged["i94yr"].cast('integer'))
df_immig_merged=df_immig_merged.withColumn("i94mon", df_immig_merged["i94mon"].cast('integer'))
df_immig_merged=df_immig_merged.withColumn("i94cit", df_immig_merged["i94cit"].cast('integer'))
df_immig_merged=df_immig_merged.withColumn("i94res", df_immig_merged["i94res"].cast('integer'))
df_immig_merged=df_immig_merged.withColumn("i94mode", df_immig_merged["i94mode"].cast('integer'))
df_immig_merged=df_immig_merged.withColumn("i94bir", df_immig_merged["i94bir"].cast('integer'))
df_immig_merged=df_immig_merged.withColumn("i94visa", df_immig_merged["i94visa"].cast('integer'))
df_immig_merged=df_immig_merged.withColumn("biryear", df_immig_merged["biryear"].cast('integer'))
df_immig_merged=df_immig_merged.withColumn("admnum", df_immig_merged["admnum"].cast('integer'))
df_immig_merged=df_immig_merged.withColumn("count", df_immig_merged["count"].cast('integer'))
df_immig_merged=df_immig_merged.withColumn("arrdate", df_immig_merged["arrdate"].cast('integer'))
df_immig_merged=df_immig_merged.withColumn("depdate", df_immig_merged["depdate"].cast('integer'))

In [273]:
#df_immig=df_immig.select("arrdate", timedelta(days=df_immig["arrdate"])+datetime(1960,1,1))

In [274]:
# convert_date = udf(lambda x: date_add(to_date('1960-01-01'),x))
# df_immig = df_immig.withColumn('arrdate',convert_date(df_immig.arrdate) )
#df_immig = df_immig.withColumn('arrdate', date_add(to_date('1960-01-01'),'arrdate'))

In [275]:
# convert_date_udf = udf(lambda x: datetime.datetime(1960, 1, 1)+datetime.timedelta(days=x))
# df_immig = df_immig.withColumn('arrdate', convert_date_udf('arrdate').alias('arrdate'))

In [276]:
# import pyspark.sql.functions as F
# df_dc = spark.createDataFrame([['1960-01-01']], ['report_date'])
# df_dc.withColumn('report_date_10', F.date_add(df_dc['report_date'],20566)).show()

In [277]:
# def convert_date(x):
#     mDt = datetime(1960, 1, 1)
#     dlt = mDt + timedelta(days=x)
#     return dlt.strftime("%Y-%m-%d")

# convert_date_udf = udf(lambda z: convert_date(z), StringType())
# df_immig = df_immig.withColumn('arrdate', convert_date_udf('arrdate').alias('arrdate')).collect()

In [278]:
#df_immig.show(2)

In [32]:
df_immig_merged.printSchema()

root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: integer (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

#### 2. Cleaning world_temperature dataset:

In [280]:
#Cleaning of Immigration dataset
df_temp=df_temp.withColumn("AverageTemperature", df_temp["AverageTemperature"].cast('float'))
df_temp=df_temp.withColumn("AverageTemperatureUncertainty", df_temp["AverageTemperatureUncertainty"].cast('float'))
df_temp=df_temp.withColumn("Latitude", df_temp["Latitude"].cast('float'))
df_temp=df_temp.withColumn("Longitude", df_temp["Longitude"].cast('float'))

In [281]:
df_temp.printSchema()

root
 |-- dt: string (nullable = true)
 |-- AverageTemperature: float (nullable = true)
 |-- AverageTemperatureUncertainty: float (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: float (nullable = true)
 |-- Longitude: float (nullable = true)

In [282]:
df_temp=df_temp.filter('Country="United States"')

In [283]:
df_temp=df_temp.select(col("dt").alias("date"),col("AverageTemperature").alias("avg_temp"),\
                col("AverageTemperatureUncertainty").alias("avg_temp_uncertainty"),col("City").alias("city"),\
                col("Latitude").alias("latitude"),col("Longitude").alias("longitude"))

In [284]:
# df_temp.filter('dt>="2013-01-01"').show(2)

In [285]:
#Shape of the Dataset
print("Number of Columns: {}".format(len(df_temp.columns)))
print("Number of Rows: {}".format(df_temp.count()))

Number of Columns: 6
Number of Rows: 687289

In [286]:
# Performing cleaning tasks here
# import pycountry
# df_temp=df_temp.withColumn("AverageTemperature", df_temp["AverageTemperature"].cast('float'))

#### 3. Cleaning airport_code dataset:

In [287]:
df_port.printSchema()

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

In [288]:
# Removing airport which are closed now.
df_port=df_port.filter('type!="closed"')

#### 4. Cleaning us_demographic dataset:

In [311]:
df_demog.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median Age: string (nullable = true)
 |-- Male Population: string (nullable = true)
 |-- Female Population: string (nullable = true)
 |-- Total Population: string (nullable = true)
 |-- Number of Veterans: string (nullable = true)
 |-- Foreign-born: string (nullable = true)
 |-- Average Household Size: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: string (nullable = true)

In [312]:
# Dropping Columns to the Use case
df_demog=df_demog.drop('Number of Veterans','Foreign-born','Race','Count')

In [313]:
df_demog.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median Age: string (nullable = true)
 |-- Male Population: string (nullable = true)
 |-- Female Population: string (nullable = true)
 |-- Total Population: string (nullable = true)
 |-- Average Household Size: string (nullable = true)
 |-- State Code: string (nullable = true)

In [314]:
#Cleaning of Demographic dataset
df_demog=df_demog.withColumn("Median Age", df_demog["Median Age"].cast('float'))
df_demog=df_demog.withColumn("Male Population", df_demog["Male Population"].cast('integer'))
df_demog=df_demog.withColumn("Female Population", df_demog["Female Population"].cast('integer'))
df_demog=df_demog.withColumn("Total Population", df_demog["Total Population"].cast('integer'))
df_demog=df_demog.withColumn("Average Household Size", df_demog["Average Household Size"].cast('float'))

In [315]:
df_demog=df_demog.select(col("Median Age").alias("median_age"),col("Male Population").alias("male"),\
                col("Female Population").alias("female"),col("Total Population").alias("total"),\
                col("Average Household Size").alias("avg_household_size"),\
                col("City").alias("city"),col("State").alias("state"),\
                col("State Code").alias("state_code"))

In [316]:
# Dropping 'City' column and reducing data at State level
df_demog=df_demog.drop('city')

In [317]:
#Drop Duplicates
df_demog=df_demog.drop_duplicates()

In [318]:
df_demog.printSchema()

root
 |-- median_age: float (nullable = true)
 |-- male: integer (nullable = true)
 |-- female: integer (nullable = true)
 |-- total: integer (nullable = true)
 |-- avg_household_size: float (nullable = true)
 |-- state: string (nullable = true)
 |-- state_code: string (nullable = true)

In [319]:
df_demog=df_demog.groupBy('state').agg({'median_age':'avg','male':'sum','female':'sum',\
                                        'total':'sum','avg_household_size':'avg','state_code':'first'})
# df_demog=df_demog.groupBy('state').agg(mean('median_age').alias('median_age'),sum('male').alias('male'),\
#                                        sum('female').alias('female'),mean('avg_household_size').alias('avg_household_size'),\
#                                        first('state_code').alias('state_code'))

In [304]:
# df_demog=df_demog.WithColumnRenamed('sum(female)','female').WithColumnRenamed('sum(male)','male')\
#          .WithColumnRenamed('avg(avg_household_size)','avg_household_size').WithColumnRenamed('first(state_code)','state_code')\
#          .WithColumnRenamed('avg(median_age)','median_age')

In [320]:
df_demog=df_demog.select(col("avg(median_age)").alias("median_age"),col("sum(male)").alias("male"),\
                col("sum(female)").alias("female"),col("sum(total)").alias("total"),\
                col("avg(avg_household_size)").alias("avg_household_size"),\
                col("state").alias("state"),\
                col("first(state_code)").alias("state_code"))

In [321]:
df_demog.show(5)

+------------------+-------+-------+-------+------------------+---------+----------+
|        median_age|   male| female|  total|avg_household_size|    state|state_code|
+------------------+-------+-------+-------+------------------+---------+----------+
|30.979999542236328| 530818| 519773|1050591|             3.175|     Utah|        UT|
|41.400001525878906| 176807| 175959| 352766| 2.690000057220459|   Hawaii|        HI|
|35.618182095614344| 702157| 720246|1422403|2.5009090900421143|Minnesota|        MN|
| 35.54999961853027|1177546|1256143|2433689|2.2990000009536744|     Ohio|        OH|
|32.766666094462074| 286479| 303400| 589879|2.5299999713897705| Arkansas|        AR|
+------------------+-------+-------+-------+------------------+---------+----------+
only showing top 5 rows

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

#### Using Star Schema:
##### Dimension Tables:
> 1. Immigrant Table
    * Columns: gender, biryear, occup, i94bir
##### Fact Table:

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

#### Dimension Tables :

##### 1. Immigrant Table

**Immigrant Table Schema:**
> *CREATE TABLE IF NOT EXISTS 
      i94( cicid INTEGER PRIMARY KEY, 
           gender STRING,
           biryear INTEGER,
           occup STRING,
           i94bir INTEGER,
           visatype STRING)*

In [ ]:
# Write code here
immigrant_table=df_immig_merged.select(['cicid','gender','biryear','occup','i94bir','visatype'])

In [ ]:
immigrant_table.write.mode('overwrite').option('compression','snappy').parquet("immigrant")

In [ ]:
df_imm=spark.read.option('compression','snappy').parquet("immigrant")

In [ ]:
# Checking for missing values
print("Number of Columns: {}".format(len(df_imm.columns)))
print("Number of Rows: {}".format(df_imm.count()))

In [ ]:
df_imm.show(5)

##### 2. Airline Table

**I94 Table Schema:**
> *CREATE TABLE IF NOT EXISTS 
     airline( cicid INTEGER PRIMARY KEY, 
           dtafile STRING,
           dtaddto STRING)*

In [ ]:
# Write code here
airline_table=df_immig_merged.select(['cicid','airline','fltno'])

In [ ]:
airline_table.write.mode('overwrite').option('compression','snappy').parquet("airline")

In [ ]:
df_airline=spark.read.option('compression','snappy').parquet("airline")

In [ ]:
# Checking for missing values
print("Number of Columns: {}".format(len(df_airline.columns)))
print("Number of Rows: {}".format(df_airline.count()))

In [ ]:
df_airline.show(5)

##### 3. i94 Table

**I94 Table Schema:**
> *CREATE TABLE IF NOT EXISTS 
      i94( cicid INTEGER PRIMARY KEY, 
           i94yr INTEGER,
           i94mon INTEGER,
           i94res INTEGER,
           i94bir INTEGER,
           i94port INTEGER,
           i94mode INTEGER,
           i94addr STRING,
           i94visa INTEGER,
           dtafile STRING,
           dtaddto STRING)*

In [ ]:
# Write code here
i94_table=df_immig_merged.select(['cicid','i94yr','i94mon','i94res','i94bir','i94port','i94mode','i94addr',\
                           'i94visa','dtadfile','dtaddto'])

In [ ]:
i94_table.write.mode('overwrite').option('compression','snappy').parquet("i94")

In [ ]:
df_i94=spark.read.option('compression','snappy').parquet("i94")

In [ ]:
# Checking for missing values
print("Number of Columns: {}".format(len(df_i94.columns)))
print("Number of Rows: {}".format(df_i94.count()))

In [ ]:
df_i94.show(5)

##### 4. Population Table

**Population Table Schema:**
> *CREATE TABLE IF NOT EXISTS 
      population( median_age FLOAT, 
                  male INTEGER,
                  female INTEGER,
                  total INTEGER,
                  avg_household_size FLOAT, 
                  state VARCHAR PRIMARY KEY,
                  state_code VARCHAR NOT NULL)*

In [322]:
df_demog.printSchema()

root
 |-- median_age: double (nullable = true)
 |-- male: long (nullable = true)
 |-- female: long (nullable = true)
 |-- total: long (nullable = true)
 |-- avg_household_size: double (nullable = true)
 |-- state: string (nullable = true)
 |-- state_code: string (nullable = true)

In [323]:
df_demog.write.mode('overwrite').option('compression','snappy').parquet("population")

In [324]:
df_pop=spark.read.option('compression','snappy').parquet("population")

In [325]:
# Checking for missing values
print("Number of Columns: {}".format(len(df_pop.columns)))
print("Number of Rows: {}".format(df_pop.count()))

Number of Columns: 7
Number of Rows: 49

In [327]:
df_pop.filter('state="Maryland"').show(5)

+-----------------+------+------+-------+------------------+--------+----------+
|       median_age|  male|female|  total|avg_household_size|   state|state_code|
+-----------------+------+------+-------+------------------+--------+----------+
|36.37000007629395|627951|684178|1312129|2.6549999952316283|Maryland|        MD|
+-----------------+------+------+-------+------------------+--------+----------+

##### 5. Temperature Table

**Temperature Table Schema:**
> *CREATE TABLE IF NOT EXISTS 
      temperature(date date NOT NULL, 
                  city VARCHAR NOT NULL,
                  country VARCHAR NOT NULL, 
                  avg_temp FLOAT, 
                  avg_temp_uncertainty FLOAT,
                  latitude FLOAT,
                  longitude FLOAT,
                  PRIMARY KEY (date,city))*

In [ ]:
df_temp.printSchema()

In [ ]:
df_temp.write.mode('overwrite').option('compression','snappy').parquet("temperature")

In [ ]:
df_temp=spark.read.option('compression','snappy').parquet("temperature")

In [ ]:
# Checking for missing values
print("Number of Columns: {}".format(len(df_temp.columns)))
print("Number of Rows: {}".format(df_temp.count()))

In [ ]:
df_temp.show(5)

##### 6. Airport Table

**Airport Table Schema:**
> *CREATE TABLE IF NOT EXISTS 
      airport(indent VARCHAR NOT NULL, 
                  type VARCHAR NOT NULL,
                  name VARCHAR NOT NULL, 
                  elevation_ft FLOAT, 
                  continent VARCHAR,
                  iso_country VARCHAR,
                  iso_region VARCHAR,
                  municipality VARCHAR,
                  gps_code VARCHAR PRIMARY KEY,
                  iata_code VARCHAR,
                  local_code VARCHAR,
                  co_ordinates VARCHAR)*

In [ ]:
df_port.printSchema()

In [ ]:
df_port.write.mode('overwrite').option('compression','snappy').parquet("airport")

In [ ]:
df_port=spark.read.option('compression','snappy').parquet("airport")

In [ ]:
# Checking for missing values
print("Number of Columns: {}".format(len(df_port.columns)))
print("Number of Rows: {}".format(df_port.count()))

In [ ]:
df_port.show(5)

#### Fact Table

##### Immigration

**Immigration Table Schema:**
> *CREATE TABLE IF NOT EXISTS 
      i94( cicid INTEGER PRIMARY KEY, 
           i94port STRING REFERENCES airport(iata_code),
           i94addr STRING REFERENCES population(state_code),
           dtafile STRING REFERENCES temperature(date),
           dtaddto STRING,
           arrdate INTEGER,
           depdate INTEGER,
           count INTEGER)*

In [328]:
# df_immig.createOrReplaceTempView("immig")
# df_airline.createOrReplaceTempView("airline")
# df_i94.createOrReplaceTempView("i94")
# df_port.createOrReplaceTempView("port")

In [329]:
# immigration_table = spark.sql("""SELECT i.cicid,i.gender,i.visatype,i.dtaddto,b.i94port,b.i94mode,p.name FROM immig  i
#                                  LEFT OUTER JOIN i94 b ON b.cicid=i.cicid
#                                  LEFT OUTER JOIN airline a ON i.cicid=a.cicid
#                                  LEFT OUTER JOIN port p ON b.i94port=p.iata_code""")

In [330]:
df_immig_merged.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [338]:
# Write code here
fact_table=df_immig_merged.select(['cicid','i94port','i94addr','dtadfile','dtaddto','arrdate','depdate','count'])

In [339]:
fact_table.write.mode('overwrite').option('compression','snappy').parquet("immigration")

In [340]:
df_fact=spark.read.option('compression','snappy').parquet("immigration")

In [341]:
# Checking for missing values
print("Number of Columns: {}".format(len(df_fact.columns)))
print("Number of Rows: {}".format(df_fact.count()))

Number of Columns: 8
Number of Rows: 3096313

In [342]:
df_fact.show(5)

+-------+-------+-------+--------+--------+-------+-------+-----+
|  cicid|i94port|i94addr|dtadfile| dtaddto|arrdate|depdate|count|
+-------+-------+-------+--------+--------+-------+-------+-----+
|5748517|    LOS|     CA|20160430|10292016|  20574|  20582|    1|
|5748518|    LOS|     NV|20160430|10292016|  20574|  20591|    1|
|5748519|    LOS|     WA|20160430|10292016|  20574|  20582|    1|
|5748520|    LOS|     WA|20160430|10292016|  20574|  20588|    1|
|5748521|    LOS|     WA|20160430|10292016|  20574|  20588|    1|
+-------+-------+-------+--------+--------+-------+-------+-----+
only showing top 5 rows

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
_Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file._

#### Immigration Data:
~~~
  * cicid    -  
  * i94yr    - 4 digit year
  * i94mon   - Numeric month
  * i94cit   - This format shows all the valid and invalid codes for processing
  * i94res   - This format shows all the valid and invalid codes for processing
  * i94port  - This format shows all the valid and invalid codes for processing
  * arrdate  - is the Arrival Date in the USA. It is a SAS date numeric field that a 
               permament format has not been applied.  Please apply whichever date format 
               works for you.
  * i94mode  - There are missing values as well as not reported (9)
               	1 = 'Air'
                2 = 'Sea'
                3 = 'Land'
                9 = 'Not reported' ;   
  * i94addr  - There is lots of invalid codes in this variable and the list below 
               shows what we have found to be valid, everything else goes into 'other'
  * depdate  - is the Departure Date from the USA. It is a SAS date numeric field that 
               a permament format has not been applied.  Please apply whichever date format 
               works for you.
  * i94bir   - Age of Respondent in Years
  * i94visa  - Visa codes collapsed into three categories:
               1. 1 = Business
               2. 2 = Pleasure
               3. 3 = Student
  * count    - Used for summary statistics
  * dtadfile - Character Date Field - Date added to I-94 Files
  * visapost - Department of State where where Visa was issued
  * occup    - Occupation that will be performed in U.S.
  * entdepa  - Arrival Flag - admitted or paroled into the U.S.
  * entdepd  - Departure Flag - Departed, lost I-94 or is deceased
  * entdepu  - Update Flag - Either apprehended, overstayed, adjusted to perm residence
  * matflag  - Match flag - Match of arrival and departure records
  * biryear  - 4 digit year of birth
  * dtaddto  - Character Date Field - Date to which admitted to U.S. (allowed to stay until)
  * gender   - Non-immigrant sex
  * insnum   - INS number
  * airline  - Airline used to arrive in U.S.
  * admnum   - Admission Number
  * fltno    - Flight number of Airline used to arrive in U.S.
  * visatype - Class of admission legally admitting the non-immigrant to temporarily stay in U.S.
  
 ~~~

#### World Temperature Data:
```
* dt
* AverageTemperature
* AverageTemperatureUncertainty
* City
* Country
* Latitude
* Longitude
```

#### U.S. City Demographic Data:
```
* City
* State
* Median Age
* Male Population
* Female Population
* Total Population
* Number of Veterans
* Foreign-born
* Average Household Size
* State Code
* Race
* Count
```

#### Airport Codes:
```
* ident         - 
* type          - Type of airport e.g. 'small_airport', 'medium_airport', 'large_airport' etc
* name          - Airport full name.
* elevation_ft  - Elevation of the port measured in feet.  
* continent     - Continet code (e.g 'AS' for Asia,'NA' for North America)
* iso_country   - Two letter ISO country code assigned by International Organization for Standardization
* iso_region    - iso region code assigned by ISO.
* municipality  - Locality Municipality.  
* gps_code      - Global Positioning System code.
* iata_code     - IATA(Internation Air Transport Association) airport code, also known as IATA 
                  location identifier is a three letter code assigned to airports around the world.         
* local_code    - Similar to gps_code.
* coordinates   - (x,y) co-ordinates of the location.
```

### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.

### References:
1. https://travel.trade.gov/research/reports/i94/historical/2016.html
2. https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data
3. https://public.opendatasoft.com/explore/dataset/us-cities-demographics/information/
4. https://stackoverflow.com/questions/51830697/convert-date-from-integer-to-date-format