# US Immigration Data Engineering Project
### Data Engineering Capstone Project

#### Project Summary
The purpose of this project is to build data lakes for the Analytics team, so that they can use it further for the data analysis tasks in  fast and efficient manner. Data used in this project come from a variety of sources. Mainly 4 datasets are used which are as follows:
*  I94 Immigration Data
*  World Temperature Data
*  U.S. City Demographic Data
*  Airport Code Table

A detailed project overview can be found in Step 1.

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [114]:
# Do all imports and installs here
import pandas as pd
from pyspark.sql import SparkSession
from datetime import datetime,timedelta
from pyspark.sql.functions import from_unixtime, unix_timestamp, to_date, expr,date_add,udf
from pyspark.sql.types import StringType, DateType

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included? 

Mainly 4 datasets are used which are as follows:
*  I94 Immigration Data
*  World Temperature Data
*  U.S. City Demographic Data
*  Airport Code Table

Let's have a detailed look on each dataset:
*  **I94 Immigration Data:** This data comes from the US National Tourism and Trade Office. It contains international visitor arrival statistics by world regions and selected countries, type of visa, mode of transportation, age groups, states visited (first intended address only), and the top ports of entry. Details of the columns like their names and meanings can be seen in the data dictionary included at the end of this document.

*  **World Temperature Data:**  This dataset came from Kaggle. This dataset contains temperature data of US from 1850 to 2013. A detailed data dictionary is provided at the end of this documents.

* **U.S. City Demographic Data:** This data comes from Opensoft. This data comes from the US Census Bureau's 2015 American Community Survey. This dataset contains information about the demographics of all US cities and census-designated places with a population greater or equal to 65,000. A detailed data dictionary is provided at the end of this documents.

* **Airport Code Table:** This is a simple table of airport codes and corresponding cities. The airport codes may refer to either IATA airport code, a three-letter code which is used in passenger reservation, ticketing and baggage-handling systems, or the ICAO airport code which is a four letter code used by ATC systems and for airports that do not have an IATA airport code. 
A detailed data dictionary is provided at the end of this documents.

#### 1. Importing Immigration dataset:
*Immigration dataset if quite large in size so its better to use **Apache Spark** to read the files in this case.*

In [139]:
%%time
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()
df_immig =spark.read.format('com.github.saurfang.sas.spark').option("inferSchema", "true").option("dateFormat", "yyyyMMdd").\
load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

CPU times: user 2.71 ms, sys: 439 µs, total: 3.15 ms
Wall time: 44.3 ms

In [140]:
#write to parquet
#df_spark.write.parquet("sas_data")
#df_spark=spark.read.parquet("sas_data")

In [141]:
df_immig.take(2)

[Row(cicid=6.0, i94yr=2016.0, i94mon=4.0, i94cit=692.0, i94res=692.0, i94port='XXX', arrdate=20573.0, i94mode=None, i94addr=None, depdate=None, i94bir=37.0, i94visa=2.0, count=1.0, dtadfile=None, visapost=None, occup=None, entdepa='T', entdepd=None, entdepu='U', matflag=None, biryear=1979.0, dtaddto='10282016', gender=None, insnum=None, airline=None, admnum=1897628485.0, fltno=None, visatype='B2'),
 Row(cicid=7.0, i94yr=2016.0, i94mon=4.0, i94cit=254.0, i94res=276.0, i94port='ATL', arrdate=20551.0, i94mode=1.0, i94addr='AL', depdate=None, i94bir=25.0, i94visa=3.0, count=1.0, dtadfile='20130811', visapost='SEO', occup=None, entdepa='G', entdepd=None, entdepu='Y', matflag=None, biryear=1991.0, dtaddto='D/S', gender='M', insnum=None, airline=None, admnum=3736796330.0, fltno='00296', visatype='F1')]

In [5]:
#df_immig.filter('i94yr="2016.0"').show(2)

#### 2. Importing world_temperature dataset:
*World temperature dataset if quite large in size so its better to use **Apache Spark** to read the files in this case.*

In [6]:
# %%time
# Read in the data here
# df_temp=pd.read_csv('../../data2/GlobalLandTemperaturesByCity.csv')

In [7]:
%%time
df_temp=spark.read.format('csv').option('header','True').\
load('../../data2/GlobalLandTemperaturesByCity.csv')

CPU times: user 2.18 ms, sys: 287 µs, total: 2.46 ms
Wall time: 2.15 s

In [8]:
df_temp.show(2)

+----------+------------------+-----------------------------+-----+-------+--------+---------+
|        dt|AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|             6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01|              null|                         null|Århus|Denmark|  57.05N|   10.33E|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
only showing top 2 rows

#### 3. Importing airport_code dataset:
*airport_code dataset is not that much large in size its better to use **Pandas** to read the files in this case.*

In [9]:
# Read in the data here
#df_port=pd.read_csv('airport-codes_csv.csv')

In [10]:
%%time
df_port=spark.read.format('csv').option('header','True').load('airport-codes_csv.csv')

CPU times: user 1.66 ms, sys: 0 ns, total: 1.66 ms
Wall time: 532 ms

In [11]:
df_port.show(2)

+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|  00A|     heliport|   Total Rf Heliport|          11|       NA|         US|     US-PA|    Bensalem|     00A|     null|       00A|-74.9336013793945...|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|     US-KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 2 rows

In [12]:
#df_port.query("iata_code=='MAA'")

#### 4. Importing us_cities_demographics dataset:
*us_cities_demographics dataset is not that much large in size its better to use **Pandas** to read the files in this case.*

In [13]:
# Read in the data here
df_demog=pd.read_csv('us-cities-demographics.csv',delimiter=';')

In [14]:
df_demog.head(2)

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723

### Step 2: Explore and Assess the Data

### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### 1. Exploring Immigration dataset:

In [15]:
# Checking for missing values
print("Number of Columns: {}".format(len(df_immig.columns)))
print("Number of Rows: {}".format(df_immig.count()))

Number of Columns: 28
Number of Rows: 3096313

In [16]:
# Drop duplicates value
df_immig=df_immig.dropDuplicates()

In [17]:
# Number of rows after removing duplicates
print("Number of Rows: {}".format(df_immig.count()))

Number of Rows: 3096313

In [18]:
# Describe
#df_immig.describe().show()

In [19]:
df_immig.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

#### 2. Exploring world_temperature dataset:

In [20]:
#Shape of the Dataset
print("Number of Columns: {}".format(len(df_temp.columns)))
print("Number of Rows: {}".format(df_temp.count()))

Number of Columns: 7
Number of Rows: 8599212

In [21]:
#Shape of the dataset
df_temp.printSchema()

root
 |-- dt: string (nullable = true)
 |-- AverageTemperature: string (nullable = true)
 |-- AverageTemperatureUncertainty: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

In [22]:
# Checking missing values
# df_temp.describe()

In [23]:
# Drop Duplicates Values
# df_port.drop_duplicates(inplace=True)

#### 3. Exploring airport_code dataset:

In [24]:
# Shape of the dataset
# df_port.shape

In [25]:
# Checking missing values
df_port.printSchema()

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

In [26]:
# Drop Duplicates Values
# df_port.drop_duplicates(inplace=True)

#### 4. Exploring us_cities_demographics dataset:

In [27]:
# Shape of the dataset
df_demog.shape

(2891, 12)

In [28]:
# Checking for missing values
df_demog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2891 entries, 0 to 2890
Data columns (total 12 columns):
City                      2891 non-null object
State                     2891 non-null object
Median Age                2891 non-null float64
Male Population           2888 non-null float64
Female Population         2888 non-null float64
Total Population          2891 non-null int64
Number of Veterans        2878 non-null float64
Foreign-born              2878 non-null float64
Average Household Size    2875 non-null float64
State Code                2891 non-null object
Race                      2891 non-null object
Count                     2891 non-null int64
dtypes: float64(6), int64(2), object(4)
memory usage: 271.1+ KB

In [29]:
# Dropping duplicates
df_demog.drop_duplicates(inplace=True)

#### Cleaning Steps
Document steps necessary to clean the data

#### 1. Cleaning Immigration dataset:

In [142]:
#Cleaning of Immigration dataset
df_immig=df_immig.withColumn("cicid", df_immig["cicid"].cast('integer'))
df_immig=df_immig.withColumn("i94yr", df_immig["i94yr"].cast('integer'))
df_immig=df_immig.withColumn("i94mon", df_immig["i94mon"].cast('integer'))
df_immig=df_immig.withColumn("i94cit", df_immig["i94cit"].cast('integer'))
df_immig=df_immig.withColumn("i94res", df_immig["i94res"].cast('integer'))
df_immig=df_immig.withColumn("i94mode", df_immig["i94mode"].cast('integer'))
df_immig=df_immig.withColumn("i94bir", df_immig["i94bir"].cast('integer'))
df_immig=df_immig.withColumn("i94visa", df_immig["i94visa"].cast('integer'))
df_immig=df_immig.withColumn("biryear", df_immig["biryear"].cast('integer'))
df_immig=df_immig.withColumn("admnum", df_immig["admnum"].cast('integer'))
df_immig=df_immig.withColumn("count", df_immig["count"].cast('integer'))
df_immig=df_immig.withColumn("arrdate", df_immig["arrdate"].cast('integer'))
df_immig=df_immig.withColumn("depdate", df_immig["depdate"].cast('integer'))

In [31]:
#df_immig=df_immig.select("arrdate", timedelta(days=df_immig["arrdate"])+datetime(1960,1,1))

In [143]:
# convert_date = udf(lambda x: date_add(to_date('1960-01-01'),x))
# df_immig = df_immig.withColumn('arrdate',convert_date(df_immig.arrdate) )
#df_immig = df_immig.withColumn('arrdate', date_add(to_date('1960-01-01'),'arrdate'))

In [110]:
# convert_date_udf = udf(lambda x: datetime.datetime(1960, 1, 1)+datetime.timedelta(days=x))
# df_immig = df_immig.withColumn('arrdate', convert_date_udf('arrdate').alias('arrdate'))

In [118]:
# import pyspark.sql.functions as F
# df_dc = spark.createDataFrame([['1960-01-01']], ['report_date'])
# df_dc.withColumn('report_date_10', F.date_add(df_dc['report_date'],20566)).show()

+-----------+--------------+
|report_date|report_date_10|
+-----------+--------------+
| 1960-01-01|    2016-04-22|
+-----------+--------------+

In [112]:
# def convert_date(x):
#     mDt = datetime(1960, 1, 1)
#     dlt = mDt + timedelta(days=x)
#     return dlt.strftime("%Y-%m-%d")

# convert_date_udf = udf(lambda z: convert_date(z), StringType())
# df_immig = df_immig.withColumn('arrdate', convert_date_udf('arrdate').alias('arrdate')).collect()

In [144]:
df_immig.show(2)

Py4JJavaError: An error occurred while calling o1487.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 44.0 failed 1 times, most recent failure: Lost task 0.0 in stage 44.0 (TID 313, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 377, in main
    process()
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 372, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 345, in dump_stream
    self.serializer.dump_stream(self._batched(iterator), stream)
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 141, in dump_stream
    for obj in iterator:
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 334, in _batched
    for item in iterator:
  File "<string>", line 1, in <lambda>
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 85, in <lambda>
    return lambda *a: f(*a)
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/util.py", line 99, in wrapper
    return f(*args, **kwargs)
  File "<ipython-input-143-75ce29294dd0>", line 1, in <lambda>
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/sql/functions.py", line 1122, in to_date
    jc = sc._jvm.functions.to_date(_to_java_column(col))
AttributeError: 'NoneType' object has no attribute '_jvm'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:452)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:81)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:64)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:406)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:255)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1889)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1877)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1876)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1876)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2110)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2048)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:737)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2082)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2101)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:365)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3383)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$53.apply(Dataset.scala:3364)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3363)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2758)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:254)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:291)
	at sun.reflect.GeneratedMethodAccessor74.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 377, in main
    process()
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 372, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 345, in dump_stream
    self.serializer.dump_stream(self._batched(iterator), stream)
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 141, in dump_stream
    for obj in iterator:
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 334, in _batched
    for item in iterator:
  File "<string>", line 1, in <lambda>
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 85, in <lambda>
    return lambda *a: f(*a)
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/util.py", line 99, in wrapper
    return f(*args, **kwargs)
  File "<ipython-input-143-75ce29294dd0>", line 1, in <lambda>
  File "/opt/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/sql/functions.py", line 1122, in to_date
    jc = sc._jvm.functions.to_date(_to_java_column(col))
AttributeError: 'NoneType' object has no attribute '_jvm'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:452)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:81)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:64)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:406)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:255)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [50]:
df_immig.printSchema()

root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: string (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: integer (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

#### 2. Cleaning world_temperature dataset:

In [ ]:
#Cleaning of Immigration dataset
df_temp=df_temp.withColumn("AverageTemperature", df_temp["AverageTemperature"].cast('float'))
df_temp=df_temp.withColumn("AverageTemperatureUncertainty", df_temp["AverageTemperatureUncertainty"].cast('float'))

In [ ]:
df_temp.printSchema()

In [ ]:
df_temp=df_temp.filter('Country="United States"')

In [ ]:
# df_temp.filter('dt>="2013-01-01"').show(2)

In [ ]:
#Shape of the Dataset
print("Number of Columns: {}".format(len(df_temp.columns)))
print("Number of Rows: {}".format(df_temp.count()))

In [ ]:
# Performing cleaning tasks here
# import pycountry
# df_temp=df_temp.withColumn("AverageTemperature", df_temp["AverageTemperature"].cast('float'))

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

#### Using Star Schema:
##### Dimension Tables:
> 1. Immigrant Table
    * Columns: gender, biryear, occup, i94bir
##### Fact Table:

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

#### Dimension Tables :

##### Populating Immigrant Table

In [ ]:
# Write code here
immigrant_table=df_immig.select(['cicid','gender','biryear','occup','i94bir','visatype','dtaddto'])

In [ ]:
immigrant_table.write.mode('overwrite').option('compression','snappy').parquet("immigrant")

In [ ]:
df_imm=spark.read.option('compression','snappy').parquet("immigrant")

In [ ]:
# Checking for missing values
print("Number of Columns: {}".format(len(df_imm.columns)))
print("Number of Rows: {}".format(df_imm.count()))

In [ ]:
df_imm.show(5)

##### Populating Airline Table

In [ ]:
# Write code here
airline_table=df_immig.select(['cicid','airline','fltno','occup','i94bir','visatype'])

In [ ]:
airline_table.write.mode('overwrite').option('compression','snappy').parquet("airline")

In [ ]:
df_airline=spark.read.option('compression','snappy').parquet("airline")

In [ ]:
# Checking for missing values
print("Number of Columns: {}".format(len(df_airline.columns)))
print("Number of Rows: {}".format(df_airline.count()))

In [ ]:
df_airline.show(5)

##### Populating i94 Table

In [ ]:
# Write code here
i94_table=df_immig.select(['cicid','i94yr','i94mon','i94res','i94bir','i94port','i94mode','i94addr',\
                           'i94visa','dtadfile','dtaddto'])

In [ ]:
i94_table.write.mode('overwrite').option('compression','snappy').parquet("i94")

In [ ]:
df_i94=spark.read.option('compression','snappy').parquet("i94")

In [ ]:
# Checking for missing values
print("Number of Columns: {}".format(len(df_i94.columns)))
print("Number of Rows: {}".format(df_i94.count()))

In [ ]:
df_i94.show(5)

#### Fact Table

##### Immigration

In [ ]:
df_immig.createOrReplaceTempView("immig")
df_airline.createOrReplaceTempView("airline")
df_i94.createOrReplaceTempView("i94")
df_port.createOrReplaceTempView("port")

In [ ]:
immigration_table = spark.sql("""SELECT i.cicid,i.gender,i.visatype,i.dtaddto,b.i94port,b.i94mode,p.name FROM immig  i
                                 LEFT OUTER JOIN i94 b ON b.cicid=i.cicid
                                 LEFT OUTER JOIN airline a ON i.cicid=a.cicid
                                 LEFT OUTER JOIN port p ON b.i94port=p.iata_code""")

In [ ]:
immigration_table.write.mode('overwrite').option('compression','snappy').parquet("immigration")

In [ ]:
df_airline=spark.read.option('compression','snappy').parquet("immigration")

In [ ]:
# Checking for missing values
print("Number of Columns: {}".format(len(df_airline.columns)))
print("Number of Rows: {}".format(df_airline.count()))

In [ ]:
df_airline.show(5)

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
_Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file._

#### Immigration Data:
~~~
  * cicid    -  
  * i94yr    - 4 digit year
  * i94mon   - Numeric month
  * i94cit   - This format shows all the valid and invalid codes for processing
  * i94res   - This format shows all the valid and invalid codes for processing
  * i94port  - This format shows all the valid and invalid codes for processing
  * arrdate  - is the Arrival Date in the USA. It is a SAS date numeric field that a 
               permament format has not been applied.  Please apply whichever date format 
               works for you.
  * i94mode  - There are missing values as well as not reported (9)
               	1 = 'Air'
                2 = 'Sea'
                3 = 'Land'
                9 = 'Not reported' ;   
  * i94addr  - There is lots of invalid codes in this variable and the list below 
               shows what we have found to be valid, everything else goes into 'other'
  * depdate  - is the Departure Date from the USA. It is a SAS date numeric field that 
               a permament format has not been applied.  Please apply whichever date format 
               works for you.
  * i94bir   - Age of Respondent in Years
  * i94visa  - Visa codes collapsed into three categories:
               1. 1 = Business
               2. 2 = Pleasure
               3. 3 = Student
  * count    - Used for summary statistics
  * dtadfile - Character Date Field - Date added to I-94 Files
  * visapost - Department of State where where Visa was issued
  * occup    - Occupation that will be performed in U.S.
  * entdepa  - Arrival Flag - admitted or paroled into the U.S.
  * entdepd  - Departure Flag - Departed, lost I-94 or is deceased
  * entdepu  - Update Flag - Either apprehended, overstayed, adjusted to perm residence
  * matflag  - Match flag - Match of arrival and departure records
  * biryear  - 4 digit year of birth
  * dtaddto  - Character Date Field - Date to which admitted to U.S. (allowed to stay until)
  * gender   - Non-immigrant sex
  * insnum   - INS number
  * airline  - Airline used to arrive in U.S.
  * admnum   - Admission Number
  * fltno    - Flight number of Airline used to arrive in U.S.
  * visatype - Class of admission legally admitting the non-immigrant to temporarily stay in U.S.
  
 ~~~

#### World Temperature Data:
```
* dt
* AverageTemperature
* AverageTemperatureUncertainty
* City
* Country
* Latitude
* Longitude
```

#### U.S. City Demographic Data:
```
* City
* State
* Median Age
* Male Population
* Female Population
* Total Population
* Number of Veterans
* Foreign-born
* Average Household Size
* State Code
* Race
* Count
```

#### Airport Codes:
```
* ident         - 
* type          - Type of airport e.g. 'small_airport', 'medium_airport', 'large_airport' etc
* name          - Airport full name.
* elevation_ft  - Elevation of the port measured in feet.  
* continent     - Continet code (e.g 'AS' for Asia,'NA' for North America)
* iso_country   - Two letter ISO country code assigned by International Organization for Standardization
* iso_region    - iso region code assigned by ISO.
* municipality  - Locality Municipality.  
* gps_code      - Global Positioning System code.
* iata_code     - IATA(Internation Air Transport Association) airport code, also known as IATA 
                  location identifier is a three letter code assigned to airports around the world.         
* local_code    - Similar to gps_code.
* coordinates   - (x,y) co-ordinates of the location.
```

### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.

### References:
1. https://travel.trade.gov/research/reports/i94/historical/2016.html
2. https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data
3. https://public.opendatasoft.com/explore/dataset/us-cities-demographics/information/
4. https://stackoverflow.com/questions/51830697/convert-date-from-integer-to-date-format